nav {
    background-color: #F04100 !important;
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset {
    border: 2px #0568CD solid;
    border-radius: 5px;
    margin: 1% !important;
    padding: 1% !important;
}

legend {
    padding: 5px !important;
    font-weight: bold;
    color: #0568CD;
    margin: auto;
    width: auto !important;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0 0 0;
}

form input {
    margin: 3px 3px 0 0;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}
table, td, th
{
   border: 2px solid #0568CD;
}

td, th {
    padding: 15px;
}

table
{
    margin: 2% auto auto auto;
}

tr.pair{

    background-color: #efefef;

}

tr.impair{

    background-color: #fff;

}

.action
{
    border: 2px solid #c40400 !important;
}